*{
    margin:0px;
    padding:0px;
}
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header */
    .header{
        background-image:url(../images/developer.png),url(../images/header_bg.png);
         background-position:top left, bottom right;
        background-repeat:no-repeat;
        background-color:#FFF8F3;
    }
 /* Shared Style */
 .primary-bg{
    background-color: #FFF8F3;
 }
 .text-primary{
    color: #FD6E0A;
 }
.dark-2{
    color: #474747;
}

.btn-primary{
   background-color: #FD6E0A;
   font-weight: bold;
   font-size:20px;
   padding:18px  35px;
   border: none;
   border-radius:5px;
   color: white;
}
.btn-secondary{
    padding:18px 24px;
    font-size:20px;
    font-weight:bold;
    color: #FD6E0A;
    border:1px solid #FD6E0A;
    border-radius:5px;
}
.section-title{
  font-weight: bold;
  font-size:35px;
  margin-bottom:30px;
}
.section-description{
 color:#757575;
 font-size:18px;
}
/* Nav realted style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight:800px;
    font-size:45px;
}
nav ul li{
     list-style: none;
     margin-right:50px;
}
nav li a{
    text-decoration: none;
    font-size:20px;
}
.text-center{
    text-align: center;
}
/* Banner style start  */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 38px 0px 200px;
}
 .banner-content{
       max-width:580px;
     }
     .banner-subtitle{
        font-weight:600px;
        font-size:45px;
     }
     .banner-title{
        font-weight:bold;
        font-size:80px;
        margin-bottom:20px;
     }
     .banner-description{
        font-size:18px;
        margin-bottom:30px;
     }
    
     .banner-profile-picture{
        width:580px;
     }
 /* Main styles  */
  main{
    max-width:1140px;
    margin:0px auto;
  }
  main section{
    margin-top:130px;
    margin-bottom:130px;
  }

  /* About style start  */
  .about{
     text-align: center;
     padding:130px 150px;
     border-radius:10px;
     margin-top:130px; 
  }
  /* about items section work start  */
  .about-items{
    display: flex;
    justify-content: space-around;
    margin-top:30px;
  
  }
  .item-description{
    font-weight:800px;
    font-size:20px;
    color:#474747;
  }

  /* Skill Exprience style start  */
 
  .skill-title{
    font-size:20px;
    font-weight:bold;
    color:#181818;
    /* margin-top:30px; */
  }
  .skills{
    display:flex;
    /* justify-content: space-between; */
    gap:24px;
    margin-top:50px;
  }
  .skill-description{
    /* background-color:#FFFFFF; */
    border-radius:5px;
    padding:30px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  }
 
/* Resume Section Start */
.resume-container{
    display: flex;
    gap:25px;
    margin-top:130px ;
}
.resume-column-title{
    font-weight:bold;
    font-size:30px;
    color: #474747;
}
.exprience-title{
    font-weight:bold;
    font-size:25px;
    color:#474747 ;
    margin-top:30px ;
}
.exprience-sub-title{
    font-weight:600px;
    font-size:20px;
    color:#757575;
    margin-top:10px;
    margin-bottom:20px;
}
.experiprience-description{
    color: #757575;
}

.resume hr{
    margin:30px 2px;
}

.download-btn{
    text-align: center;
    margin-top: 50px;
}

/* footer section start  */
.footer{
    background-color:#FFF8F3 ;
    padding:130px 230px;
    display: flex;
    gap:117px;
    margin:0px 230px;
    
}

.contact-description{
    margin-top:20px;
}
.contact-social-sites{
    display:flex;
    gap:24px;
    margin-top:30px;
}
 footer input[type="text"], footer input[type="email"]{
    height:34px;
    border-radius:5px;
    background-color: white;
    padding:10px 20px;
    width:100%;
    margin-bottom:24px;
    border: none;
 }